@color-primary : 			#00bcd4;
@color-primary-dark : 		#0097A7;
@color-primary-light : 		#B2EBF2;
@color-accent : 			#FF5252;

@color-text-primary : 		#212121;
@color-text-secondary : 	#727272;

@color-divider : 			#B6B6B6;
@color-icon : 				#FFFFFF;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,700,700italic);

.shadow(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.btn {
	color: @color-icon;
	background-color: @color-accent;
	padding: 4px 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	display: inline-block;
	cursor: pointer;
	.shadow(1);
}

#crn-tool {
	position: absolute;
	background: @color-icon;
	border: @color-divider;
	.shadow(2);
	z-index: 99999;
	width: 248px;
	font-family: 'Roboto', Helvetica, sans-serif;
    top:16px;
    right: 16px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9) translateY(-8px);
    transition: all .2s cubic-bezier(.55,0,.1,1);
    &.show {
        opacity: 1;
        pointer-events: all;
        transform: scale(1.0) translateY(0px);
    }
}

#crn-navbar {
	background: @color-primary;
	color: @color-icon;
	padding: 16px;
	.shadow(1);
    
    #crn-options-launch {
        padding: 8px 14px;
        margin-top:-8px;
        margin-right: -8px;
        transition: all .1s cubic-bezier(.55,0,.1,1);
        &.active {
            background-color: @color-primary-dark;
        }
    }
    
    ul#crn-options {
        .shadow(2);
        position: absolute;
        list-style: none;
        background-color: @color-icon;
        color: @color-text-secondary;
        padding: 0;
        right: 8px;
        transform: scale(0.9) translateY(-8px);
        pointer-events: none;
        opacity: 0;
        transition: all .2s cubic-bezier(.55,0,.1,1);
        &.active {
            opacity: 1;
            pointer-events: all;
            transform:  scale(1.0) translateY(0px);
        }
        li {
            padding: 8px 16px;
            border-bottom: solid 1px @color-divider;
            cursor: pointer;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: #ededed;
            }
        }
    }
    
}

#crn-tool-inner {
	padding: 16px;
	color: @color-text-primary;
	
    #crn-list {
        margin-bottom: 8px;
    	.crn-item {
    		&.copied {
    			animation: copied .5s cubic-bezier(.55,0,.1,1);
    			animation-iteration-count: 1;
    		}
    	}
        
    }
    
	#crn-add {
		.shadow(1);
		padding: 0;
        display: inline-block;
		input {
			margin: 0;
			padding: 8px;
			display: inline-block;
            border: 0;
            width: 50px;
            font-size: 0.7em;
		}
		.btn {
			box-shadow: none;
            margin:0;
            padding: 7px;
		}
	}
	
}

.pull-right {
	float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes copied {
	0% {
		transform: scale(1.00);
	}
	50% {
		.shadow(2);
		transform: scale(1.05);
	}
	100% {
		.shadow(1);
		transform: scale(1.00);
	}
}