@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,700,700italic);
.btn {
  color: #FFFFFF;
  background-color: #FF5252;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#crn-tool {
  position: absolute;
  background: #FFFFFF;
  border: #B6B6B6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 99999;
  width: 248px;
  font-family: 'Roboto', Helvetica, sans-serif;
  top: 16px;
  right: 16px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9) translateY(-8px);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
#crn-tool.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1) translateY(0px);
}
#crn-navbar {
  background: #00bcd4;
  color: #FFFFFF;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#crn-navbar #crn-options-launch {
  padding: 8px 14px;
  margin-top: -8px;
  margin-right: -8px;
  transition: all 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}
#crn-navbar #crn-options-launch.active {
  background-color: #0097A7;
}
#crn-navbar ul#crn-options {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  list-style: none;
  background-color: #FFFFFF;
  color: #727272;
  padding: 0;
  right: 8px;
  transform: scale(0.9) translateY(-8px);
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
#crn-navbar ul#crn-options.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1) translateY(0px);
}
#crn-navbar ul#crn-options li {
  padding: 8px 16px;
  border-bottom: solid 1px #B6B6B6;
  cursor: pointer;
}
#crn-navbar ul#crn-options li:last-child {
  border-bottom: none;
}
#crn-navbar ul#crn-options li:hover {
  background-color: #ededed;
}
#crn-tool-inner {
  padding: 16px;
  color: #212121;
}
#crn-tool-inner #crn-list {
  margin-bottom: 8px;
}
#crn-tool-inner #crn-list .crn-item.copied {
  animation: copied 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation-iteration-count: 1;
}
#crn-tool-inner #crn-add {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  display: inline-block;
}
#crn-tool-inner #crn-add input {
  margin: 0;
  padding: 8px;
  display: inline-block;
  border: 0;
  width: 50px;
  font-size: 0.7em;
}
#crn-tool-inner #crn-add .btn {
  box-shadow: none;
  margin: 0;
  padding: 7px;
}
.pull-right {
  float: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@-webkit-keyframes copied {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: scale(1);
  }
}
